<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, voluptatum numquam, mollitia rem alias excepturi explicabo aut aliquam quidem perferendis ab, odio ut harum illo necessitatibus reiciendis qui amet molestias?</p>

        <style>
            p {
                color: transparent;
                background-image: linear-gradient(
                    to right,
                    blue,
                    purple
                );
                width: fit-content;
                background-clip: text;
                -webkit-background-clip: text;
            }
        </style>
    </body>
</html>